
task2/out/production/task2/com/game/guessnumber/Player.class
task1/.idea/workspace.xml
task1/.idea/workspace.xml
task2/.idea/workspace.xml
task2/task2.iml
JUnitTest/.idea/workspace.xml
task2/.idea/workspace.xml
task3/.idea/encodings.xml
task3/.idea/misc.xml
task3/.idea/modules.xml
task3/.idea/vcs.xml
task3/.idea/workspace.xml
task2/.idea/workspace.xml
JUnitTest/.idea/workspace.xml
task3/task3.iml
